/* src/styles.css */

/* Basic styles for the app container */
.App {
    text-align: center;
    padding: 20px;
  }
  
  /* Styles for headings */
  h1 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  /* Styles for country and remittance option lists */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
  }
  
  /* Styles for the amount input */
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  /* Styles for cost display */
  .CostDisplay {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  