*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.logo {
    order: 1;
    font-size: 2rem;
    font-weight: 800;
    width: 12%; 
    height: auto; 
    filter: brightness(0) invert(1); /* Add this line to make the image white */

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 69, 0, 0.7); /* Semi-transparent orangered */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    z-index: -1; /* Place the overlay behind other content */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left: 50px;
    margin-right: 50px;
    
}
nav ul{
    display: flex;
    order: 2;
}
nav ul a{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    margin-right: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    max-width: 900px; /* Optional: limit the width of the box */
    margin: 200px auto 0; /* Add margin to the top */
    position: relative; /* Added to establish a positioning context */

}
